<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cb.appliancetracker">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplianceTracker"
        tools:targetApi="31">

        <!-- Main Activity Declaration -->
        <activity
            android:name=".activities.ApplianceListActivity"
            android:label="Appliance Tracker"
            android:exported="true">

            <!-- Intent filter for launching the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Appliance Detail Activity Declaration -->
        <activity
            android:name=".activities.ApplianceDetailActivity"
            android:label="Appliance Details" />

        <activity android:name=".activities.AddApplianceActivity" />


    </application>

</manifest>
